body{
    display: flex;
    background-color: #3498db
}
input{
    border: none;
    background-color: #3a4452;
    border-radius: 1em;
    margin-left: 1em;
    margin-right: 1em;
   outline: 0;
   box-shadow: -1em -1em 1em rgba(255, 255, 255, 0.1), 0.5em 0.5em 1em rgba(0, 0, 0, 0.1);
   color: white;
   font-size: 2em;
   
    
    
}
.center{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 100px auto;
    width: 600px;
    height: 500px;
    padding: 0;
    background-color: #3a4452;
    gap: 0.6em;
    border-radius: 2em;
    
    
    
}

.igual{
    grid-row: span 2;
    background-color: #33ffd8;

   
}

.result{
    grid-column: span 4;
    border-radius: 2em;
    background-color: #918c8c5e;
    text-align: right;
    color: white;
    height: 4.4em;
    
    
    
   
    
   
}
.resultP {
    font-size: 1.6em;
}

.lateral{
    background-color: #33ffd8;
}